/* Default styles (fallbacks for non-supporting browsers) */
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: "Playfair Display", serif;
}

header {
    background-color: rgb(70, 130, 180); /* SteelBlue */
    color: white;
    height: 10vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

a {
    color: blue;
}

h1 {
    font-size: 3rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#color-boxes {
    display: flex;
    gap: 0px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.color-box {
    /* width: 100px; */
    height: 45vh;
    position: relative;
    background-color: #ccc;
}

.color-label {
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    color: inherit; /* Use the same color as the box text color */
}

/* Light mode styles */
body.light-mode {
    background-color: white;
    color: black;
}

header.light-mode {
    background-color: rgb(70, 130, 180); /* SteelBlue */
    color: white;
}

a.light-mode {
    color: blue;
}

/* Dark mode styles */
body.dark-mode {
    background-color: black;
    color: white;
}

header.dark-mode {
    background-color: rgb(25, 25, 112); /* MidnightBlue */
    color: white;
}

a.dark-mode {
    color: lightblue;
}

/* Standard colors for color boxes */
#box1.light-mode {
    background-color: rgb(255, 0, 0); /* Red */
}

#box2.light-mode {
    background-color: rgb(255, 255, 0); /* Yellow */
}

#box3.light-mode {
    background-color: rgb(0, 255, 0); /* Green */
}

#box4.light-mode {
    background-color: rgb(0, 255, 255); /* Cyan */
}

#box5.light-mode {
    background-color: rgb(0,0,255); /* Blue */
}

#box6.light-mode {
    background-color: rgb(255, 0, 255); /* Magenta */
}

/* HD colors */
body.hd-colors {
    background-color: oklch(100% 0 0);
    color: oklch(0 0 0);
}

header.hd-colors {
    background-color: oklch(0.7 0.15 240);
    color: oklch(1 0 100);
}

a.hd-colors {
    color: oklch(0.7 0.15 240);
}

#box1.hd-colors {
    background-color: oklch(0.65 0.3 28.96); /* Red */
}

#box2.hd-colors {
    background-color: oklch(0.96 0.25 110.25); /* Yellow */
}

#box3.hd-colors {
    background-color: oklch(0.86 0.36 144.21); /* Green */
}

#box4.hd-colors {
    background-color: oklch(0.88 0.2 194.87); /* Cyan */
}

#box5.hd-colors {
    background-color: oklch(0.47 0.32 263.99); /* Blue */
}

#box6.hd-colors {
    background-color: oklch(0.7 0.35 327.46); /* Magenta */
}

.hidden {
    display: none;
}

#warning {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
